# Advance Programming Assignment 14

**1. Given a list of numbers, create a function that removes 25% from every number in the list except the smallest number, and adds the total amount removed to the smallest number.**  
> **Examples**  
show_the_love([4, 1, 4]) ➞ [3, 3, 3]  
show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]  
show_the_love([2, 100]) ➞ [27, 75]

In [1]:
def show_the_love(num_list):
    min_index = num_list.index(min(num_list))
    for i in range(len(num_list)):
        if i != min_index:
            num_list[min_index] = num_list[min_index] + 0.25*num_list[i]
            num_list[i] = 0.75 * num_list[i]
    return num_list

In [2]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [3]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [4]:
show_the_love([2, 100])

[27.0, 75.0]

**2. Create a function that takes in two words as input and returns a list of three elements, in the following order:**  
  1. **Shared letters between two words.**  
  2. **Letters unique to word 1.**  
  3. **Letters unique to word 2.**  
**Each element should have unique letters, and have each letter be alphabetically sorted.**  
> **Examples**  
letters("sharp", "soap") ➞ ["aps", "hr", "o"]  
letters("board", "bored") ➞ ["bdor", "a", "e"]  
letters("happiness", "envelope") ➞ ["enp", "ahis", "lov"]  
letters("kerfuffle", "fluffy") ➞ ["flu", "ekr", "y"]  
    --> # Even with multiple matching letters (e.g. 3 f's), there should only exist a single "f" in your first element.  
letters("match", "ham") ➞ ["ahm", "ct", ""]  
    --> # "ham" does not contain any letters that are not found already in "match".

In [41]:
def letters(word1,word2):
    word1 = set(word1)
    word2 = set(word2)
    shared = "".join(sorted(list(word1.intersection(word2))))
    word1_only = "".join(sorted(list(word1.difference(word2))))
    word2_only = "".join(sorted(list(word2.difference(word1))))
    
    return [shared,word1_only,word2_only]

In [42]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [43]:
letters("board", "bored")

['bdor', 'a', 'e']

In [44]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [45]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [46]:
letters("match", "ham")

['ahm', 'ct', '']

**3. Write a function that pairs the first number in an array with the last, the second number with the second to last, etc.**  
>**Examples**  
pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]  
pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]  
pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]] 
pairs([]) ➞ []

In [7]:
def pairs(lis):
    pair_list=[]
    for i in range(int((len(lis)+1)/2)):
        pair_list.append((lis[i],lis[-(i+1)]))
    return pair_list

In [8]:
pairs([1, 2, 3, 4, 5, 6, 7])

[(1, 7), (2, 6), (3, 5), (4, 4)]

In [9]:
pairs([1, 2, 3, 4, 5, 6])

[(1, 6), (2, 5), (3, 4)]

In [10]:
pairs([5, 9, 8, 1, 2])

[(5, 2), (9, 1), (8, 8)]

In [11]:
pairs([])

[]

**4. Write a function that adds two numbers. The catch however, is that the numbers will be strings.**  
>**Examples**  
add_str_nums(&quot;4&quot;, &quot;5&quot;) ➞ &quot;9&quot;  
add_str_nums(&quot;abcdefg&quot;, &quot;3&quot;) ➞ &quot;-1&quot;  
add_str_nums(&quot;1&quot;, &quot;&quot;) ➞ &quot;1&quot;  
add_str_nums(&quot;1874682736267235927359283579235789257&quot;,  
&quot;32652983572985729&quot;) ➞ &quot;  1874682736267235927391936562808774986&quot;

In [62]:
import re
def add_str_nums(num1,num2):
    if num1 =="":
        num1="0"
    elif num2 == "":
        num2="0"
        
    if re.search("[\d]+",num1) and re.search("[\d]+",num1):
        add = str(eval(num1+"+"+num2))
    else:
        add = "-1"
    return add

In [63]:
add_str_nums("4", "5")

'9'

In [64]:
add_str_nums("abcdefg", "3")

'-1'

In [65]:
add_str_nums("1", "")

'1'

In [66]:
add_str_nums("1874682736267235927359283579235789257","32652983572985729")

'1874682736267235927391936562808774986'

**5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say: Please help me unmix these strings! Somehow my strings have all become mixed up; every pair of characters has been swapped. Help me undo this so I can understand my strings again.**  
>**Examples**  
unmix("123456") ➞ "214365"  
unmix("hTsii  s aimex dpus rtni.g") ➞ "This is a mixed up string."  
unmix("badce") ➞ "abcde"

In [69]:
def unmix(mixed):
    strng = list(mixed)
    for i in range(0,len(strng)-1,2):
        strng[i],strng[i+1]=strng[i+1],strng[i]
    return "".join(strng)

In [70]:
unmix("123456")

'214365'

In [75]:
unmix("hTsii  s aimex dpus rtni.g")

'This is a mixed up string.'

In [72]:
unmix("badce")

'abcde'

In [74]:
unmix("lPaeesh le pemu mnxit ehess rtnisg!")

'Please help me unmix these strings!'