# Basic Programming Assignment 23

**Question 1.**  
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.  
>**Examples**  
is_symmetrical(7227) ➞ True  
is_symmetrical(12567) ➞ False  
is_symmetrical(44444444) ➞ True  
is_symmetrical(9939) ➞ False  
is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(num):
    temp = num
    reverse = 0
    i = len(str(num))-1
    while temp>0:
        rem = temp%10
        reverse += rem*(10**i)
        temp //=10
        i-=1    
    if reverse == num:
        return True
    else:
        return False

In [17]:
num = int(input("Enter no. to check for symmetry: "))
result = is_symmetrical(num)
if result == True:
    print(f"{num} is Symmetrical")
else:
    print(f"{num} is Asymmetrical")

Enter no. to check for symmetry: 123454321
123454321 is Symmetrical

In [13]:
is_symmetrical(7227)

True

In [14]:
is_symmetrical(12567)

False

In [15]:
is_symmetrical(44444444)

True

In [16]:
is_symmetrical(9939)

False

**Question 2.**  
Given a string of numbers separated by a comma and space, return the product of the numbers.  
>**Examples**   
multiply_nums("2, 3") ➞ 6  
multiply_nums("1, 2, 3, 4") ➞ 24  
multiply_nums("54, 75, 453, 0") ➞ 0  
multiply_nums("10, -2") ➞ -20

In [20]:
from functools import reduce
def multiply_nums(strr):
    lst= list(map(int,strr.split(", ")))
    multiply = reduce(lambda a,b:a*b, lst)
    return multiply

In [26]:
strr = input("Enter string number: ")
multiply_nu = multiply_nums(strr)
print(f"Multiplication of {strr} = {multiply_nu}")

Enter string number: 5, 10, 9, 12, 13, 15
Multiplication of 5, 10, 9, 12, 13, 15 = 1053000

In [21]:
multiply_nums("2, 3")

6

In [22]:
multiply_nums("1, 2, 3, 4")

24

In [23]:
multiply_nums("54, 75, 453, 0")

0

In [24]:
multiply_nums("10, -2")

-20

**Question 3.**  
Create a function that squares every digit of a number.  
>**Examples**  
square_digits(9119) ➞ 811181  
square_digits(2483) ➞ 416649  
square_digits(3212) ➞ 9414  

Notes  
The function receives an integer and must return an integer.

In [2]:
def square_digits(num):
    n = list(str(num))
    square = list(map(lambda x: str(int(x)**2), n))
    squared_num = int("".join(square))
    return squared_num

In [6]:
num = int(input("Enter your number: "))
sq_num = square_digits(num)
print("Square of digits =",sq_num)

Enter your number: 5489
Square of digits = 25166481

In [3]:
square_digits(3212)

9414

In [4]:
square_digits(9119)

811181

In [5]:
square_digits(2483)

416649

**Question 4.**  
Create a function that sorts a list and removes all duplicate items from it.  
>**Examples**  
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]  
setify([4, 4, 4, 4]) ➞ [4]  
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]  
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [12]:
# Method 1:
def setify(lst):
    return list(set(lst))

# Method 2:
from collections import OrderedDict
def setify2(lst):
    lst = list(OrderedDict.fromkeys(lst))
    lst.sort()
    return lst

# Method 3:
def setify3(lst):
    new_lis = [i for n ,i in enumerate(lst) if i not in lst[:n]]
    new_lis.sort()
    return new_lis

In [13]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [14]:
setify([4, 4, 4, 4])

[4]

In [15]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [16]:
setify2([3, 3, 3, 2, 1])

[1, 2, 3]

In [17]:
setify3([4, 4, 4, 4])

[4]

**Question 5.**  
Create a function that returns the mean of all digits.  
>**Examples**  
mean(42) ➞ 3  
mean(12345) ➞ 3  
mean(666) ➞ 6  

Notes  
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).  
•	The mean will always be an integer.

In [7]:
def mean(num):
    i = 0
    summ = 0
    while num>0:
        rem= num%10
        summ+=rem
        num//=10
        i+=1
    mean = int(summ/i)
    return mean

In [8]:
num = int(input("Enter your number: "))
mean = mean(num)
print("Mean of digits =",mean)

Enter your number: 859
Mean of digits = 7

In [46]:
mean(42)

3

In [47]:
mean(12345)

3

In [48]:
mean(666)

6

In [49]:
mean(512)

2