# Basic Programming Assignment 21

**Question 1.**  
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.  
>**Examples**  
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]  
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]  
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]  
next_in_line([], 6) ➞ "No list has been selected"

In [8]:
def next_in_line(lst, arg):
    """Returns the list after adding the passed element and removing the first one."""
    if lst != []:
        lst.append(arg)
        lst.pop(0)
        return lst
    else:
        return "No list has been selected"

In [13]:
a = next_in_line([5, 6, 7, 8, 9], 1)
print(a)

[6, 7, 8, 9, 1]

In [14]:
b = next_in_line([7, 6, 3, 23, 17], 10)
print(b)

[6, 3, 23, 17, 10]

In [15]:
c= next_in_line([1, 10, 20, 42 ], 6)
print(c)

[10, 20, 42, 6]

In [16]:
d = next_in_line([], 6)
print(d)

No list has been selected

**Question 2.**  
Create the function that takes a list of dictionaries and returns the sum of people's budgets.  
>**Examples**  
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

>get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [28]:
def get_budgets(lst):
    """Return the sum of budgets of people passed as dictionary in a list"""
    from functools import reduce 
    try:
        total_budget =0
        for i in lst:
            total_budget += i["budget"]   
        return total_budget
    except Exception as e:
        print("Error occured: ",e)

In [29]:
total_budget = get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, 
                             { "name": "Steve", "age": 32, "budget": 40000 }, 
                             { "name": "Martin", "age": 16, "budget": 2700 } 
                           ]) 
print("Total budget=",total_budget)

Total budget= 65700

In [30]:
total_budget = get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, 
                             { "name": "Steve", "age": 32, "budget": 32000 }, 
                             { "name": "Martin", "age": 16, "budget": 1600 } 
                           ])
print("Total budget=",total_budget)

Total budget= 62600

**Question 3.**  
Create a function that takes a string and returns a string with its letters in alphabetical order.  
>**Examples**  
alphabet_soup("hello") ➞ "ehllo"  
alphabet_soup("edabit") ➞ "abdeit"  
alphabet_soup("hacker") ➞ "acehkr"  
alphabet_soup("geek") ➞ "eegk"  
alphabet_soup("javascript") ➞ "aacijprstv"

In [33]:
def alphabet_soup(strr):
    l = list(strr)
    l.sort()
    strr = "".join(l)
    return strr

In [34]:
alphabet_soup("hello")

'ehllo'

In [35]:
alphabet_soup("edabit")

'abdeit'

In [36]:
alphabet_soup("hacker")

'acehkr'

In [37]:
alphabet_soup("geek")

'eegk'

In [38]:
alphabet_soup("javascript")

'aacijprstv'

**Question 4.**  
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?  

Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.  

For the example above:  
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97  

Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year.  Compounding can also be done annually, quarterly, weekly, or daily.  
>**Examples**  
compound_interest(100, 1, 0.05, 1) ➞ 105.0  
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26  
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [53]:
def compound_interest(p, t, r,n):
    amount = p*(1+ r/n)**(n*t)
    amount = round(amount, ndigits=2)
    return amount

In [58]:
p = int(input("Enter the principle amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period: "))
n = int(input("Enter 1 for anually, 2 for semi-anually, 4 for quaterly, 52 for weekly and 365 for daily: ")) 
amount=compound_interest(p, t, r/100, n)
print("Amount after specified time =",amount)

Enter the principle amount: 3500
Enter the rate of interest: 10
Enter the time period: 15
Enter 1 for anually, 2 for semi-anually, 4 for quaterly, 52 for weekly and 365 for daily: 4
Amount after specified time = 15399.26

**Question 5.**  
Write a function that takes a list of elements and returns only the integers.  
>**Examples**  
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]  
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]  
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]  
return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [40]:
def return_only_integer(lis):
    filter_list = list(filter(lambda x: type(x)==int, lis))
    return filter_list

In [41]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [42]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [43]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [44]:
return_only_integer(["String", True, 3.3, 1])

[1]