##### Q-1. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
select * from worker order by worker_id desc limit 10;

##### Q-2.  Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
#Method 1
SELECT * FROM WORKER ORDER BY SALARY DESC LIMIT 4,1;

#Method 2
SELECT * FROM WORKER W1 WHERE 5-1 = (SELECT COUNT(DISTINCT (W2.SALARY)) FROM WORKER W2 WHERE W1.SALARY>=W2.SALARY);