##### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
select * from worker where year(joining_date)=2014 and month(joining_date) = 2;

##### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM TITLE 
GROUP BY WORKER_TITLE, AFFECTED_FROM
HAVING COUNT(*)>1;

##### Q-3. How to remove duplicate rows from Employees table.

In [ ]:
select firstname, lastname,country, count(*) from employee group by firstname, lastname,country having count(*)>1;