##### Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT * FROM WORKER W1 WHERE 4 = (SELECT COUNT(DISTINCT (W2.SALARY)) FROM WORKER W2 WHERE W1.SALARY>=W2.SALARY);

##### Q-2. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT distinct * FROM WORKER W1, WORKER W2 WHERE W1.SALARY = W2.SALARY AND W1.WORKER_ID != W2.WORKER_ID;